<!DOCTYPE html>
<html th:replace="~{layout/baseLayout :: baseLayout(~{::title}, ~{::main})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>사용자 페이지</title>
</head>
<body>
    <main>
        <h3>사용자 페이지</h3>

        <!-- 현재 사용자의 username 출력 -->
        <!-- 아이디 : <span th:text="${#authentication.name}"></span> -->
        <!-- 아이디 : <span sec:authentication="name"></span> -->

        <!-- 인증 주체에 해당하는 객체 출력 -->
        <!-- <p sec:authentication="principal"></p> -->

        <!-- 인증 주체의 속성 출력 -->
        아이디 : <span sec:authentication="principal.id"></span>
        <br>
        이름 : <span sec:authentication="principal.name"></span>
        <br>
        이메일 : <span sec:authentication="principal.email"></span>
        <br>
        <!-- 현재 사용자의 권한 출력 -->
        권한 : <span sec:authentication="authorities"></span>
    </main>
</body>
</html>