/* 
* {
    color: green;
} 
*/

/* 속성 선택자 */
/* 
div[name] {
    background-color: orange;
} 
*/

/* div 중 name 속성값이 name1과 일치하는 태그(요소) 선택 */
div[name=name1] {
/* div[name="name3 name1"] {  */
    background-color: orange;
}

/* 
div 중 name 속성값이 name1이거나 name1이 포함되어 있는 태그(요소) 선택 
단, 속성값이 띄어쓰기로 구분되어 있어야 한다.
*/
div[name~=name1] {
    background-color: yellow;
}

/* 
div 중 class 속성값이 class이거나 class로 시작되는 태그(요소) 선택 
단, -로 구분해야 한다.
*/
div[class|=class] {
    background-color: aqua;
}

/* div 중 name 속성값이 name으로 시작되는 태그(요소) 선택 */
div[name^=name] {
    background-color: blue;
}

/* div 중 class 속성값이 class로 끝나는 태그(요소) 선택 */
div[class$=class] {
    color: white;
}

/* div 중 name 속성값이 "2"로 끝나는 태그(요소) 선택 */
div[name$="2"] {
    color: coral;
}

/* div 중 class 속성값에 i를 포함하는 태그(요소) 선택 */
div[class*=i] {
    background-color: greenyellow;
    color: red;
}

/* 자식 선택자 / 후손 선택자 */
#test1>h4 {
    background-color: orange;
}

#test1>ul>h4 {
    background-color: purple;
}

#test1>ul>li {
    background-color: green;
}

#test1 h4 {
    color: white;
}

#test1 li {
    color: red;
}

/* 형제 선택자 */
#test2+div {
    background-color: yellowgreen;
}

#test2~div { 
    color: white;
}

#test2+div~div {
    background-color: orangered;
}

/* 반응 선택자 */
#active-test, #hover-test {
    background-color: yellowgreen;
    width: 300px;
    height: 300px;
}

#active-test:active {
    background-color: yellow;
    color: red;
}

#hover-test:hover {
    background-color: hotpink;
    color: white;
    cursor: pointer;
}

/* #userId:focus, #userPwd:focus { */
input[name^=user]:focus {
    outline: none;
    border: 4px solid red;
}

/* 상태 선택자 */
input[type=checkbox]:checked {
    width: 20px;
    height: 20px;
}

input[type=checkbox]:checked+label {
    font-size: 1.5em;
}

button:enabled {
    border: 2px solid yellowgreen;
}

button:enabled:active {
    border: 2px solid green;
}

button:disabled {
    background-color: grey;
    color: white;
}

/* 구조 선택자 */
/* 형제 관계 태그 중 첫 번째 태그 선택 */
/* #test3>p:first-child { */
#test3>p:first-of-type {
    background-color: red;
    color: white;
}