<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.beyond.university.department.model.mapper.DepartmentMapper">
    <resultMap id="departmentResultMap" type="Department">
        <id property="no" column="department_no"/>
        <result property="name" column="department_name"/>
        <result property="category" column="category"/>
        <result property="openYn" column="open_yn"/>
        <result property="capacity" column="capacity"/>
    </resultMap>

    <select id="selectDepartmentsCount" resultType="_int">
        SELECT COUNT(*)
        FROM tb_department
        <where>
            <if test="openYn != null">
                open_yn = #{openYn}
            </if>
        </where>
    </select>

    <select id="selectAll" resultMap="departmentResultMap">
        SELECT department_no,
               department_name,
               category,
               open_yn,
               capacity
        FROM tb_department
        <if test="openYn != null">
            WHERE open_yn = #{openYn}
        </if>
        ORDER BY department_name ASC
    </select>

    <select id="selectDepartmentByNo" parameterType="string" resultMap="departmentResultMap">
        SELECT department_no,
               department_name,
               category,
               open_yn,
               capacity
        FROM tb_department
        WHERE department_no = #{deptNo}
    </select>

    <insert id="insertDepartment" parameterType="Department">
        <selectKey resultType="string" keyProperty="no" order="BEFORE">
            SELECT LPAD(CONVERT(department_no, INT) + 1, 3, '0')
            FROM tb_department
            ORDER BY department_no DESC LIMIT 1
        </selectKey>

        INSERT INTO tb_department(
            department_no,
            department_name,
            category,
            open_yn,
            capacity
        ) VALUES (
            #{no},
            #{name},
            #{category},
            #{openYn},
            #{capacity}
        )
    </insert>

    <update id="updateDepartment" parameterType="Department">
        UPDATE tb_department
        <set>
            <if test="name != null">
                department_name = #{name},
            </if>
            <if test="category != null">
                category = #{category},
            </if>
            <if test="openYn != null">
                open_yn = #{openYn},
            </if>
            <if test="capacity >= 0">
                capacity = #{capacity}
            </if>
        </set>
        WHERE
            department_no = #{no}
    </update>

    <delete id="deleteDepartment" parameterType="string">
        DELETE
        FROM tb_department
        WHERE department_no = #{deptNo}
    </delete>
</mapper>