<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <body>
        <header th:fragment="header">
            <h2><a th:href="@{/}" style="color: black; text-decoration: none">스프링 부트 웹</a></h2>
            <!-- authorize = 사용자의 권한에 따라서 HTML 요소 보여줌 여부-->
            <p sec:authorize="hasRole('ADMIN')">관리자님 안녕하세요.</p>
            <p sec:authorize="!hasRole('ADMIN')">
                <span sec:authentication="principal.username"></span>님 안녕하세요.
            </p>
            <form th:action="@{/logout}" method="post">
                <!--
                자동으로 _csrf 설정이 포함된다.
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                -->
                <input type="button" value="내 정보">
                <input type="submit" value="로그아웃">
            </form>
        </header>

        <footer th:fragment="footer">
            <p>CopyRight@HONG hong123@beyond.com</p>
        </footer>
    </body>
</html>